<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/fragments/head :: head"></div>

<body>
<!-- Header -->
<div th:replace="admin/fragments/header :: header"></div>

<!-- Sidenav -->
<div id="layoutSidenav">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <!-- Sidenav Content -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Sửa danh mục</h1>

                <div class="card mb-4">
                    <!--<div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Sản phẩm
                    </div>-->
                    <div class="card-body">
                        <form role="form" method="post" th:action="@{/admin/category/edit_category}" th:object="${edit_category}">
                            <input type="hidden" class="form-control" id="productId" th:field="*{category_id}">
                            <div class="form-group">
                                <label>Danh mục</label>
                                <input type="text" class="form-control"  th:field="*{category_name}">
                                <!--<div th:if="${#fields.hasErrors('nameCategory')}" th:errors="*{category_name}" class="alert alert-danger"></div>-->
                            </div>

                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>


        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Phạm Văn Tuyến</div>
                    <div>
                        <a href="#">Chính sách riêng tư</a>
                        &middot;
                        <a href="#">Điều khoản &amp; dịch vụ</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>

</body>
</html>
