<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content=""/>
    <meta name="author" content="" />
    <title>Quản trị - TSHOP</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/be/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/be/js/datatables-simple-demo.js}">
    <link rel="stylesheet" th:href="@{/be/js/scripts.js}">
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
</head>